---
title: Bibliography
layout: default
---

<section class="section">
  <div class="container">
    <h2 class="title"> Bibliography</h2><br>
      <p>
      [1] Deegan P.E. (1993) Recovering our sense of value after being labelled mentally ill. Psychosocial Nursing and Mental Health Services, 31(4), 7-11.
      <br><br>
      </p>
      <p>
      [2] Beinecke, F. and Delman, J. (2008) Commentary: Client involvement in public administration research and evaluation, the innovation journal. The Public Sector Innovation Journal, 13(1) article 7.
      <br><br>
      </p>
      <p>
      [3] Faulkner, A. (2009). Principles and motives for service user involvement in mental health research, In Wallcraft, J., Schrank, B., and Amering, M. (eds). Handbook of Service User Involvement in Mental Health Research: John Wiley &amp; Sons, Chichester, UK.
      <br><br>
      </p>
      <p>
      [4] Ramon, S. (2000) Participative mental health research: users and professional researchers working together. Mental Health Care, 3(7), 224-228. 
      <br><br>
      </p>
      <p>
      [5] Ridgway, P. (1988) The voice of consumers in Mental Health Systems: A call for change – a literature review. Burlington, VT: University
      of Vermont, Centre for Community Change through Housing and Support.
      <br><br>
      </p>
      <p>
      [6] Davidson, L., Ridgway, P., Schmutte, T. &amp; O’Connell, M. (2009). Purposes and goals of service user involvement in mental health
      research, In Wallcraft, J., Schrank, B., and Amering, M. (eds). Handbook of Service User Involvement in Mental Health Research: John
      Wiley &amp; Sons, Chichester, UK.
      <br><br>
      </p>
      <p>
      [7] Delman, J. and Lincoln, A. (2009). Service users as paid research workers: Principles for active involvement and good practice guidance.
      In Wallcraft, J., Schrank, B., and Amering, M. (eds). Handbook of Service User Involvement in Mental Health Research: John Wiley &amp; Sons,
      Chichester, UK.
      <br><br>
      </p>
      <p>
      [8] Campbell, J. (1997). How consumers/survivors are evaluating the quality of psychiatric care. Evaluation Review, 21, 357-363.
      <br><br>
      </p>
      <p>
      [9] Gillard, S. and Turner, K. (2008) Does who we are make a difference to the research that we do? Presentation to UK Mental Health
      Research Network National Scientific Conference, March 2008.
      <br><br>
      </p>
      <p>
      [10] Polowszyk, D., Brutus, M., Orvieto, A.A., et al. (1993) Comparison of patient and staff surveys of consumer satisfaction. Hospital and
      Community Psychiatry, 44, 589-591.
      <br><br>
      </p>
      <p>
      [11] Allam, S., Blyth, S., Fraser, A., Hodgson, S., Howes, J.,Repper, J., and Newman, A. (2004). Our experience of collaborative research:
      service users, carers and researchers work together to evaluate an assertive outreach service. ‘Commentary’, Journal of Psychiatric and
      Mental Health Nursing, 11, 365-373.
      <br><br>
      </p>
      
  </div>
</section>

