---
title: Join CERT
layout: default
---

<section class="section">
  <div class="container">
    <h2 class="title"> Interested in joining CERT?</h2><br>
      <p>
      We are a group of Converge students who carry out evaluations of mental health and
      community projects. Our mission is to listen to people with mental health issues to
      influence service provision through research and evaluation.<br><br>
      </p>
      <p>
      CERT members have a huge range of experience from absolute beginners to people with
      PhDs. We are keen to offer comprehensive training to new members to allow students to be
      fully involved in projects they are interested in.<br><br>
      </p>
      <p>
      Developing and using inventive approaches such as artwork, photography and creative
      writing, we specialise in finding ways to support people who find it hard to express
      themselves to take part in evaluations and research.<br><br>
      </p>
      <p class="subtitle" style="font-weight: 600">
      If you are interested in joining CERT, please contact the Converge office:<br><br>
      </p>
      <p>
      <b>Email -</b> Converge@yorksj.ac.uk<br>
      <b>Mobile -</b> 07764 337116<br>
      <b>Facebook -</b> facebook.com/converge.york<br>
      <b>Twitter -</b> @ConvergeYork<br>
      <b>Instagram -</b> @convergeyork<br>
      </p>
  </div>
</section>

<section class="section"  style="background: #f5f5f5">
  <div class="container">
    <h2 class="title">How CERT works</h2><br>
      <p class="subtitle" style="font-weight: 600">
        Our Tuesday meetings and project management process
      </p>
      <p>
        The Converge Evaluation and Research Team meet every Tuesday between 11 and 12.30.
        In these meetings, we collectively discuss the projects we are currently working on. We
        usually have several projects running simultaneously. In addition, we often use this time to
        discuss new methodologies and ideas we can use in our work. We are always open to new
        ideas from members.<br><br>
      </p><p>
        We have a project management process, where more experienced members of CERT
        become project managers. They take the lead on co-ordinating the work arising from that
        specific project. Project managers organise any project work which is done outside of the
        Tuesday morning meetings, and it’s their role to help any CERT members who want to be
        involved in that project to participate in it.<br><br>
      </p><p> 
        CERT members are welcome to be involved in specific projects as much or as little as they
        want, they can focus on the bits which interest them.<br><br>
      </p><p>
        CERT members do not have to engage in specific projects if they don’t want to. If they
        prefer, they can just contribute at the Tuesday meeting.<br><br>
      </p>
      <p class="subtitle" style="font-weight: 600">
        Emotional support
      </p>
      <p>
        In the course of CERT’s work, it is possible that you come across things which may cause you
        emotional distress. To prepare for it, CERT always discuss before a project begins what is
        likely to come up for members, and how to manage this. This may include planning and
        putting in place support CERT members might need to participate.<br><br>
      </p><p>
        CERT is a very emotionally aware group and no pressure will be put on members to do
        things they are not comfortable with. Members can not engage in, or withdraw from
        research projects as they need to, without needing to explain why.<br><br>
      </p><p>
        Should you need it, further emotional support can be arranged through Converge.<br><br>
      </p>
      <p class="subtitle" style="font-weight: 600">
        Training and development opportunities and benefits
      </p>
      <p>
        CERT strongly believe in the importance of members receiving training and development in
        research related skills.<br><br>
      </p><p>
        As a group, we regularly look for new ideas for research methods we can try out.
        Occasionally, more formal training courses are on offer. If you have an interest in such
        training, you should discuss it with Nick.<br><br>
      </p><p>
        Some CERT members are engaged in more academic work, including publishing papers,
        presenting posters at conferences and leading workshops. If they are interested, new
        members are encouraged to get involved in this sort of work with full support from more
        experienced members.<br><br>
      </p>
  </div>
</section>
