---
layout: default
prism: true
---
<div class="section">
    <div class="container">
        <div class="pb-5 mb-5 border-b border-gray-100">
            <h1 class="title">{{title}}</h1>
            <p class="subtitle">
                <time> {{ date | readableDate }}
                    by
                    {{ author }}

                </time>
            </p>

        </div>
        <article class="prose" style='max-width: initial;'>
            {{ content | safe }}
        </article>
    </div>
</div>