---
title: Our Mission and Values
layout: default
---

    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <p class="subtitle">
            <b> Mission Statement: </b> We listen to people with experience of mental health issues, to influence service provision through research and evaluation.
          </p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h2 class="title"> Our core values</h2><br>
          <p class="subtitle" style="font-weight: 600">
            Insight
          </p>
          <p>
            Our lived experience of mental health issues means that we have insight into the
            lives and experiences of other people with these difficulties. We use this insight in all stages
            of the evaluation process to produce more valid and useful findings.<br><br>
          </p>
          <p class="subtitle" style="font-weight: 600">
            Empowering people 
          </p>
          <p>
            Our priority is to empower people who may struggle to participate in
            traditional research and evaluation to get fully involved in the whole research and
            evaluation process, and to ensure that their voices are always heard.<br><br>
          </p>
          <p class="subtitle" style="font-weight: 600">
            Alongside
          </p>
          <p>
            We work alongside the users of the service we are evaluating, co-producing the
            research as much as is practical. This can include training them in the research methods we
            are using, for example, how to create and carry out interviews. This means they have the
            skills and confidence to fully engage with the whole research process alongside CERT
            researchers.<br><br>
          </p>
          <p class="subtitle" style="font-weight: 600">
            Creativity
          </p>
          <p>
            We believe using and developing creative research methods, especially those
            which make the experience less daunting for participants, for example, photographs, music
            and creative writing. The use of non-traditional and creative research methods makes
            participating more accessible for people who struggle with traditional methods, for
            example, because it is more interesting to them and this often reduces the demand placed
            on them.<br><br>
          </p>
          <p class="subtitle" style="font-weight: 600">
            Accessibility 
          </p>
          <p>
            By empowering people and working alongside them, our goal is to remove
            the power dynamic which often exists in traditional research. We also ensure the
            dissemination of findings is accessible to different audiences, for example, creating formal
            written reports, easy-read reports, film and theatre performances. We also seek to make
            CERT fully inclusive and accessible to all people who are interested in joining us. On-going
            training and development allows people to fully participate.<br><br>
          </p>
      </div>
    </section>
