---
layout: blog
---

<section>
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        
        <article>
            <div class="columns">
                <div class="column">
                    <h2 class='subtitle' style="font-weight: 600">
                        <a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                    </h2>
                </div>
                <div class="column">
                    <p class="subtitle">
                        <time>
                            {{ post.date | readableDate }}
                            by
                            <a>{{ post.data.author }}</a>

                        </time>
                    </p>
                </div>
            </div>
                

            {% if post.data.description %}
                <p>
                    {{ post.data.description }}
                </p>
            {% endif %}


            <p>
                <a href="{{ post.url | url }}">
                    Read more →
                </a>
            </p>

        </article>

    {% endfor %}
</section>