<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item"><img style="max-height:initial; height: 55px" src="{{navigation.logo}}"></a>
            <a role="button" class="navbar-burger burger" aria-label="menu" style="height:initial" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                {% if navigation.items %}
                    {% for item in navigation.items %}
                        <a href="{{item.url}}" class="navbar-item">{{item.text}}</a>
                    {% endfor %}
                {% endif %}
                <a class="navbar-item">
                    <span class="icon has-text-link">
                        <i class="fab fa-facebook-square"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>


